<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Klony</title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <!--<link rel="stylesheet" type="text/css" href="/static/styles.css" >-->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/custom.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div>
            <a href="https://www.facebook.com/klonyinfo" title="Klony" target="_BLANK">
                <img class="img" src="/uploads/fb_logo/FB-f-Logo__blue_50.png"
                     style="border: 0px; width:4%; position: absolute; top: 60px; right: 50px;" alt="">
            </a>
        </div>
        <div class="col-md-3">
            <div>
                <a href="/" id="logo"><img src="/static/images/logo.jpg">
                </a>
                <br><br><br><br>
            </div>
        </div>
        <div class="col-md-9">
            <div class="navbar-left topmenu">

                <a href="/acers/" class="menuspace">KLONY</a>
                <a href="/cultivation/" class="menuspace">UPRAWA</a>
                <a href="/blog/1" class="menuspace">BLOG</a>
                <a href="/bibliography/" class="menuspace">BIBLIOGRAFIA</a>
                <a href="/contact/" class="menuspace">KONTAKT</a>
            </div>
            <div class="navbar-right logout">
                Zalogowany: {{ request.user.username }},
                <a class="menuspace" href="{% url 'site-logout' %}?next=/acers">LOGOUT</a>
            </div>
        </div>
    </div>
    <!--<div class="base-headline-title">-->
        <!--<h3>-->
            <!--{% block title %}{% endblock %}-->
        <!--</h3>-->
</div>

<br><br><br><br><br><br>

<div class="container-fluid">
    <!--</div>-->
    <div class="row content-block">
        <div class="col-md-11">
        {% block content %}
        {% endblock %}
        </div>
    </div>

    <!--{% bootstrap_javascript %}-->
    <!--<script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>-->
    <!--<script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>-->
    <!--{% block content_js %}-->
    <!--{% endblock %}-->
</div>
</body>
</html>
