{% extends 'klony/base.html' %}

{% block title %}
    {% if request.method == 'GET' %}
        Wyszukiwarka klonów
    {% else %}
        Lista klonów
    {% endif %}
{%endblock %}

{% block content %}
    {% if request.method == 'GET' %}
        {% csrf_token %}
        <form action="{% url 'acer-search' %}" method="post">
            <p>Wybierz klon</p>

            <select size="1" name="b_uid" id="b_uid">
                <option value="">Nazwa botaniczna</option>
                {% for acer in acers_bot %}
                    <option value="{{acer.uid}}">{{ acer.botanic_name }}</option>
                {% endfor %}
            </select>
            {% csrf_token %}
            <select size="1" name="l_uid" id="l_uid">
                <option value="">Nazwa łacińska</option>
                {% for acer in acers_lat %}
                    <option value="{{acer.uid}}">{{ acer.latin_name }}</option>
                {% endfor %}
            </select>
            <br><br>

            <p>lub wypełnij formularz i wyszukaj </p>
            <select size="1" name="shape">
                <option value="">Pokrój</option>
                {% for i,j in ashapes %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select> <br>
            <select size="1" name="frost">
                <option value="">Mrozoodporność</option>
                {% for i,j in frost %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select> <br>
            <select size="1" name="lc_summer">
                <option value="">Kolor liści latem</option>
                {% for i,j in lc_summer %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select> <br>
            <select size="1" name="lc_autumn">
                <option value="">Kolor liści jesienią</option>
                {% for i,j in lc_autumn %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select> <br><br>
            {% if form %}
            <form action="{% url 'acer-search' %}" method="post">

                {% csrf_token %}
                {{ form.as_p }}

            </form>
            {% endif %}
            <input type="submit" value="Search">
        </form>
    {% else %}
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                <table class="col-md-4">
                    <thead>
                        <tr>
                            <th colspan="2"><h4 style="text-align: center">Europa</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for acer in acersEu %}
                            <tr style="height:150px">
                                <td class="col-md-7">
                                    <p><a href="{% url 'acer-details' pk=acer.uid %}">{{ acer.botanic_name }}</a><br>
                                    {{ acer.other_names }}<br>
                                    {{ acer.latin_name }}<br>
                                    {{ acer.description }}</p>
                                </td>
                                <td class="col-md-5">
                                    {% if acer.image_tree %}<a href="{% url 'acer-details' pk=acer.uid %}">
                                    <img src="{{ acer.image_tree.url }}" class="img-thumbnail" alt="Cinque Terre" width="75%"></a>
                                    {% else %} --- {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="col-md-4">
                    <thead>
                        <tr>
                            <th colspan="2"><h4 style="text-align: center">Azja</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for acer in acersAs %}
                            <tr style="height:150px">
                                <td class="col-md-7">
                                    <p><a href="{% url 'acer-details' pk=acer.uid %}">{{ acer.botanic_name }}</a><br>
                                    {{ acer.other_names }}<br>
                                    {{ acer.latin_name }}<br>
                                    {{ acer.description }}</p>
                                </td>
                                <td class="col-md-5">
                                    {% if acer.image_tree %}<a href="{% url 'acer-details' pk=acer.uid %}">
                                    <img src="{{ acer.image_tree.url }}" class="img-thumbnail" alt="Cinque Terre" width="75%"></a>
                                    {% else %} --- {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="col-md-4">
                    <thead>
                        <tr>
                            <th colspan="2"><h4 style="text-align: center">Ameryka Płn</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for acer in acersNa %}
                            <tr style="height:150px">
                                <td class="col-md-7">
                                    <p><a href="{% url 'acer-details' pk=acer.uid %}">{{ acer.botanic_name }}</a><br>
                                    {{ acer.other_names }}<br>
                                    {{ acer.latin_name }}<br>
                                    {{ acer.description }}</p>
                                </td>
                                <td class="col-md-5">
                                    {% if acer.image_tree %}<a href="{% url 'acer-details' pk=acer.uid %}">
                                    <img src="{{ acer.image_tree.url }}" class="img-thumbnail" alt="Cinque Terre" width="75%"></a>
                                    {% else %} --- {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
