{% extends 'klony/base.html' %}

{% block content %}
    <!--<div class="panel panel-success">-->
        <!--<div class="panel-heading">-->
        <!--</div>-->
    <!--</div>-->
        <div class="row">  <!--class="panel-body"-->


		<!--  Text: [begin] -->
			<p class="bodytext">Zapraszamy do niezwykłego świata klonów. Na świecie naliczono dotąd około 100 gatunków
                drzew i krzewów należących do tej rodziny. Większość ich występuje na półkuli północnej, w strefie
                umiarkowanej. Niektóre odmiany spotkać można jednak w strefie podzwrotnikowej a nawet zwrotnikowej.
            </p>
            <p class="bodytext">&nbsp;</p>
            <p class="bodytext">Najczęściej mówiąc o klonach, myślimy o klonie pospolitym. Te malownicze drzewa
                fascynują jesienią pięknie przebarwiającymi się liśćmi. Oprócz
                <a href="acer/41" target="_self">klonu pospolitego</a> do gatunków rodzimych należy
                <a href="acer/46" target="page">klon jawor</a> oraz
                <a href="acer/3" target="_self">klon polny</a>, zwany również
                <a href="acer/3" target="_self">pakl<span class="name-of-person">on</span>em</a>.
                Oprócz nich, w parkach i na skwerach chętnie sadzone są inne gatunki, np. dobrze zadomowieni przybysze
                z Ameryki Północnej:
                <a href="acer/22" target="_self">klon jesionolistny</a> i
                <a href="acer/54" target="_self">klon srebrzysty</a>.
                W ogrodach botanicznych, arboretach, a coraz częściej również i w ogrodach prywatnych spotkać można
                również gatunki pochodzące z Dalekiego Wschodu, np. klony japońskie i palmowe. Nie wyrastają one&nbsp;
                na wielkie drzewa, nie wszystkie znoszą nasze zmienne zimy. Mimo tego stają się coraz popularniejsze.
                Powodzenie zawdzięczają swojej egzotycznej urodzie, przede wszystkim fantastycznym kształtom i barwom liści.
            </p>
            <p class="bodytext">&nbsp;</p>
            <p class="bodytext">Chcemy podzielić się radością, jaką daje nam obserwowanie klonów, ich pięknego pokroju,
                faktury kory, kształtu i barwy liści. Chcielibyśmy również, aby strona ta była jak najciekawsza, łatwa
                w nawigacji, oferująca aktualne i interesujące informacje. Dlatego też będziemy wdzięczni za wszelkie
                uwagi – czekamy na nie pod adresem
                <a href="javascript:linkTo_UnCryptMailto('nbjmup;lpoubluAlmpoz/jogp');"
                   title="Otwiera okno do wysyłania emaila" class="mail">kontakt &nbsp;@&nbsp; klony.info</a>
            </p>
            <p class="bodytext">&nbsp;</p>
		<!--  Text: [end] -->

        </div>
    <!--</div>-->
{% endblock %}
