{% extends 'base.html' %}

{% block content %}
    <div class="row"enctype="multipart/form-data">


    <!--  Text: [begin] -->
        <div id="content">
            <!--  CONTENT ELEMENT, uid:3/textpic [begin] -->
                <a id="c3"></a>
                <!--  Image block: [begin] -->
                    <div class="csc-textpic-text">
                <!--  Text: [begin] -->
                    <h2>Uprawa klonów</h2>
        <p class="bodytext">Wśród klonów każdy znaleźć może odmianę dla siebie. W grupie tej są i wielkie drzewa i
            całkiem nieduże krzewy, odmiany o liściach jasno i ciemnoczerwonych, pomarańczowych, złotych, pstrych i
            we wszystkich odcieniach zieleni. W dodatku większość klonów pięknie przebarwia się jesienią. Rośliny te
            mogą zdobić ogród nawet zimą – dzięki pięknemu pokrojowi lub dekoracyjnej korze, jak
            np. <a href="/acer/d/15/" target="_self">klon strzępiastokory</a>,
            <a href="/acer/39/" target="_self">klon pensylwański</a> lub odmiany klonów palmowych o intensywnie
            czerwonej lub różowej korze, jak Sangokaku, Coralinum lub Senkaki.
        </p>
        <h4>Ekspozycja</h4>
        <p class="bodytext">Ogólna zasada brzmi: im barwniejsze liście, tym więcej rozproszonego światła potrzebuje
            roślina, żeby móc się najlepiej zaprezentować. Odmiany zdecydowanie złotolistne lub pstrolistne z&nbsp;przewagą
            bieli najlepiej czuć się będą na bardzo widnych stanowiskach, jednak nie w&nbsp;palącym słońcu.
        </p>
        <p class="bodytext">W przypadku klonów palmowych oraz innych gatunków wywodzących się z Dalekiego Wschodu,
            najkorzystniejsze są stanowiska półcieniste: widne, ale chroniące przed ostrymi promieniami słońca,
            zwłaszcza w&nbsp;godzinach południowych. Wiele klonów dobrze znosi cień, warto jednak pamiętać o&nbsp;tym,
            że odmiany dekoracyjnie przebarwiające się jesienią potrzebują w&nbsp;tym okresie więcej światła –
            na stanowisku zbyt cienistym ich liście mogą opaść nie wybarwiając się w&nbsp;pełni.
        </p>
        <!--<p class="bodytext">&nbsp;</p>-->
        <h4>Gleba</h4>
        <p class="bodytext">Odmiany gatunków rodzimych, jak <a href="/acer/d/41/" target="_self">klon pospolity</a> lub
            <a href="/acer/d/46/" target="_self">klon jawor</a> rosnąć mogą niemal wszędzie. Zaakceptują każde
            żyźniejsze, średnio wilgotne podłoże.
        </p>
        <p class="bodytext">Klony z Dalekiego Wschodu z reguły wolą ziemie lekkie, kwaśne do obojętnych, wilgotne,
            ale&nbsp;bez stagnującej wody. Dobra przepuszczalność gleby jest w&nbsp;ich uprawie bardzo ważna – niektóre,
            jeśli rosną na zwartym podłożu utrudniającym szybki odpływ nadmiaru wody, potrafią&nbsp; ciężko przechorować
            nawet jedną letnią ulewę. Warto o&nbsp;tym pamiętać zwłaszcza, jeśli chcemy posadzić klon palmowy nad
            brzegiem oczka wodnego lub strumyka. Wilgotne powietrze będzie mu z pewnością odpowiadało, pod warunkiem,
            że posadzimy go tak, aby jego korzeniom nie groziło zamakanie lub co gorsza stanie w&nbsp;wodzie. Dlatego
            właśnie w&nbsp;ogrodach japońskich klony palmowe sadzone są nad wodą na niewielkich wniesieniach lub
            w&nbsp;pewnej odległości od lustra wody. Gleba przygotowana przed posadzeniem klonu palmowego nie powinna
            być ponadto zbyt żyzna, nie warto również przesadzać z nawożeniem. Paradoksalnie trzeba się tego wystrzegać
            zwłaszcza wtedy, gdy uda się nam zdobyć odmianę szczególnie rzadką, a&nbsp;przy tym zwykle drogą. Na zbyt
            żyznym podłożu nasz klon może mieć piękne przyrosty, jednak ryzykujemy tym, że nowe pędy nie zdążą zdrewnieć
            przed zimą. W efekcie roślina stanie się zbyt wrażliwa na mróz, a wtedy nawet staranne osłanianie zimą może
            się na niewiele przydać.
        </p>
        <h4>Mrozoodporność</h4>
        <p class="bodytext">Początkującym ogrodnikom polecić można zwłaszcza odporne odmiany klonów europejskich lub
            północnoamerykańskich. Niektóre mogą naprawdę zaskoczyć kolorem liści, jak
            np. <a href="/acer/d/49" target="_self">klon jawor Simon Louis Freres</a>
            lub <a href="/acer/d/48" target="_self">Brilantissimum</a>, intensywnie czerwony a wiosną wręcz czarny klon
            zwyczajny Crimson Century lub pstry, najbarwniejszy z klonów jesionolistnych
            <a href="/acer/d/24" target="_self">Flamingo</a> o jasnoobrzeżonych liściach z intensywnie różowymi przyrostami.
        </p>
        <p class="bodytext">Trudniejsze w uprawie, wrażliwsze na mróz, ale za to wyjątkowe pod każdym względem są klony
            dalekowschodnie, pochodzące z&nbsp;Japonii, Chin i Korei. Wśród nich najbardziej znane są klony palmowe. Na
            całym świecie podobno uprawia się około 350 ich odmian. Niestety, wiele z&nbsp;nich nie wytrzymuje polskich
            zim, a&nbsp;i&nbsp;te, które są wystarczająco mrozoodporne (strefa 5) wymagają stanowisk zacisznych
            i&nbsp;osłaniania zimą w&nbsp;pierwszych latach po posadzeniu. Wśród klonów azjatyckich istnieją odmiany
            botaniczne, bardzo oryginalne i odporniejsze od wielu odmian hodowlanych, jak
            np. <a href="/acer/d/18" target="_self">klon mandżurski</a> (strefa 4)
            lub <a href="/acer/d/52" target="_self">klon koreański</a> (strefa 3!). Niestety na razie w Polsce spotkać
            je można niemal wyłącznie w arboretach.
        </p>
        <h4>Ochrona zimą</h4>
        <p class="bodytext">Większość odmian klonów pochodzących z Europy lub Ameryki Północnej zaliczana jest do 4
            strefy klimatycznej. Oznacza to, że zdrowe, właściwie posadzone rośliny powinny bez przeszkód znosić nawet
            silne mrozy, od -29 do nawet -34 stopni Celsjusza.&nbsp; Z&nbsp;kolei delikatniejsze klony palmowe dostępne na
            naszym rynku najczęściej zaliczane są do strefy 5, czyli powinny poradzić sobie z temperaturami
            od -23 do -29 stopni Celsjusza
        </p>
        <p class="bodytext">Klonom z Dalekiego Wschodu zwykle bardziej przeszkadzają zimne wiatry niż mróz. Lepiej jest
            więc od razu posadzić je w zacisznym miejscu lub zimą ustawić płotek chroniący przed wiatrem. Młodsze rośliny
            dobrze jest okryć zimową agrowłókniną, zwłaszcza gdy zbliżają się silniejsze mrozy.
        </p>
        <h4>Dobór roślin</h4>
        <p class="bodytext">Silne rośliny chorują rzadziej, dlatego ważne jest właściwe wybranie stanowiska i staranne
            przygotowanie gleby przed posadzeniem. Bardzo ważne jest również zwrócenie uwagi na kondycję kupowanych
            roślin – lepiej wybierać okazy zdrowe, które szybciej przyzwyczają się do nowego środowiska i&nbsp;nie będą
            stanowiły zagrożenia dla naszej dotychczasowej kolekcji.
        </p>
        <p class="bodytext">Nowe, dekoracyjne odmiany sprowadzane są często bezpośrednio z innych krajów, zwłaszcza
            z&nbsp;Holandii. W&nbsp;chwili zakupu prezentują się zwykle wspaniale, niestety łagodniejszy klimat
            w&nbsp;którym wzrastały może osłabić ich mrozoodporność przez kilka pierwszych zim. Z tego powodu o&nbsp;ile
            to tylko możliwe do naszego ogrodu wybieramy odmiany hodowane i&nbsp;szczepione przez polskich szkółkarzy.
            Zwykle są mniejsze od roślin, które zostały sprowadzone zza granicy, za to znacznie łatwiej się przyjmują.
        </p>
        <h4>Choroby i szkodniki</h4>
        <h5>Choroby grzybowe</h5>
        <p class="bodytext">Klony są zwykle odporne na choroby grzybowe, jednak i im może zdarzyć się zakażenie.
            Zwłaszcza jeśli wystąpiły czynniki osłabiające roślinę – niewłaściwe podłoże, zbyt duża wilgoć, niekorzystne
            warunki na przedwiośniu.
        </p>
        <p class="bodytext">Najczęstszą przyczyną zagniwania pnia jest zbyt gruba ściółka u nasady korzenia – ściółka
            nie może dotykać do pnia, powinna pozwalać na swobodny przepływ powietrza.
        </p>
        <p class="bodytext">Na klonach i jesionach rejestruje się zgorzel pędów (phomopsis). Objawy przypominają
            przemarznięcia mrozowe: brązowe plamy na korze. Plamy rozrastają się klinowo wzdłuż pędu powodując
            zamieranie rośliny powyżej zakażenia. Kora w miejscu zakażenia pęka, daje się łatwo oddzielić od drewna
            i&nbsp;zdrowej kory. Pod zmienioną chorobowo korą daje się czasem dostrzec watowatą grzybnię. Po stwierdzeniu
            objawów należy natychmiast przeprowadzić cięcie sanitarne usuwając porażone i uschnięte pędy. Na pędach
            wieloletnich, częściowo żywych, można próbować ratować większą część rośliny usuwając ostrożnie chorą korę
            i&nbsp;natychmiast opryskując Topsinem M 70 WP lub Sportakiem Alpha 380 EC. Należy jednak pamiętać przy tym
            o&nbsp;najwyższej ostrożności, aby nie dopuścić do rozprzestrzeniania się grzyba na inne rośliny.
        </p>
        <p class="bodytext">&nbsp;</p>
        <p class="bodytext">
            <img src="/uploads/cultiv/RTEmagicC_chory_garnet_01.jpg" style="padding: 10px; width: 300px; height: 400px;" alt="chorobą pień klonu palmowego">
            <img src="/uploads/cultiv/RTEmagicC_chory_garnet_02.jpg" style="padding: 10px; width: 300px; height: 225px;" alt="chorobą pień klonu palmowego">
            <br><em>Zaatakowany chorobą pień klonu palmowego Garnet.</em>
        </p>
        <p class="bodytext">&nbsp;</p>
        <h5>Niekorzystny skład mineralny gleby</h5>
        <p class="bodytext">Jeden z naszych czerwonolistnych klonów palmowych
            (odmiana <a href="/acer/d/30" target="_self">Bloodgood</a>) tracił w&nbsp;lecie część liści, w&nbsp;dodatku
            te, które pozostawały na drzewie były odbarwione i&nbsp;miały podeschnięte końcówki. Okazało się, że była to
            reakcja fizjologiczna na niedobór potasu w glebie. Podobno to dość częsta przypadłość wśród klonów palmowych.
        </p>
        <h5>Szkodniki</h5>
        <p class="bodytext">Wiosną młode liście bywają atakowane przez rozmaite owady. Szczególnie żarłoczne są
            naliściaki drzewoszki (smukłe, jaskrawozielone, błyszczące złotawo chrząszcze długości 7,5-8 mm)
            i&nbsp;opuchlaki truskawkowce (krępej budowy, ciemno ubarwione chrząszcze długości 8-11 mm). Żerują nie tylko
            osobniki dorosłe. Jeszcze groźniejsze są ich larwy, które niszczą korzenie. Dlatego też najlepiej zastosować
            skuteczny środek ochronny, gdy tylko pojawią się pierwsze osobniki dorosłe. Świeże przyrosty wiosenne bywają
            również atakowane przez mszyce – także dokuczliwe, lecz znacznie łatwiejsze do zwalczenia.
        </p>
        <p class="bodytext">&nbsp;</p>
        <p class="bodytext">
                <img src="/uploads/cultiv/RTEmagicC_nalisciak_drzewoszek.JPG" style="padding: 10px; width: 300px; height: 225px;" alt="naliściak drzewoszek">
                <br><em>Naliściak drzewoszek.</em>
        </p>
                <!--  Text: [end] -->
                    </div>
                <!--  Image block: [end] -->

            <!--  CONTENT ELEMENT, uid:3/textpic [end] -->
        </div>

    </div>
<!--</div>-->
{% endblock %}
