{% extends 'base.html' %}

{% block title %}
    Acer form
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
        {% if post %}
            {% for p in post %}
            {# Each "post" is a Post model object. #}
            <h3> {{ p.title|upper }}</h3>
            <p> {{ p.text }} </p><br />
            {% endfor %}
        {% endif %}
            <div class="pagination">
                <span class="step-links">
                    {% if post.has_previous %}
                        <a href="/blog/{{ post.previous_page_number }}">poprzedni</a>
                    {% endif %}

                    <span class="current">
                        Strona {{ post.number }} z {{ post.paginator.num_pages }}
                    </span>

                    {% if post.has_next %}
                        <a href="/blog/{{ post.next_page_number }}">następny</a>
                    {% endif %}
                </span>
            </div>
        </div>
        {% if images %}
        {% for image in images %}
        <div class="col-md-3">
            <div class="thumbnail">
            <a href="{{ image.image.url }}">
                <img src="{{ image.image.url }}" alt="Pokrój" style="width:100%">
                <!--<div class="caption" style="text-align:center">-->
                    <!--<p>Pokrój</p>-->
                <!--</div>-->
            </a>
            </div>
        </div>
        {% endfor %}
        {% endif %}

    </div>
{% endblock %}
