{% extends 'klony/base.html' %}

{% block content %}
        <div class="row">  <!--class="panel-body"-->
            <h2><strong>Bibliografia</strong></h2>
            <p class="bodytext">&nbsp;</p>
            <p class="bodytext"><h3>książki:</h3></p>
                <ul>
                    <li>Peter Gregory, J. D. Vertrees, Japanese Maples: The Complete Guide to Selection and Cultivation; Timber Press, wydanie czwarte, luty 2010 r.</li>
                    <li>C.J. van Gelderen i D.M. van Gelderen, Maples for Gardens: A Color Encyclopedia; Timber Press, sierpień 1999 r.</li>
                    <li>Masayoshi Yano, Book for Maples. Wild Maples of Japan. Maple Cultivars; Japan Maple Publishing Group, 2003</li>
                    <li>Allen J. Coombes, Drzewa; Wydawnictwo Wiedza i Życie, Warszawa 1996 r.</li>
                    <li>Simon Toomer, Steve Wooster, Drzewa do naszego ogrodu. Jak wybierać, sadzić i pielęgnować drzewa w ogrodzie (tytuł oryginału: ”Trees for the small garden”), Muza SA 2006 r., wyd. I</li>
                    <li>Władysław Bugała, Drzewa i krzewy; Państwowe Wydawnictwo Rolnicze i Leśne, Warszawa 2000 r.</li>
                    <li>Bruno T. Kremer, Drzewa. Leksykon przyrodniczy; Świat Książki, Warszawa 1995 r.</li>
                    <li>Wielka encyklopedia DRZEWA I KRZEWY pod red. Josefa H. Reichholfa i Güntera Steinbacha, Muza SA 2004 r., wyd. III</li>
                </ul>
            <p class="bodytext">&nbsp;</p>
            <p class="bodytext"><h3>artykuły:</h3></p>
                <ul>
                    <li>Piotr Banaszczak, <strong>„Pod jaworem”;</strong> OGRODY nr 8/2003</li>
                    <li>Piotr Banaszczak, <strong>„Do zakochania jeden klon”</strong>; OGRODY nr 11/2003</li>
                </ul>
            <p class="bodytext">&nbsp;</p>
            <p class="bodytext"><h3>strony www:</h3></p>
                <blockquote style="margin-bottom:0;margin-top:0;fontsize:1em;">
                    <p class="bodytext"><a href="http://www.fantasticplants.com/About%20Japanese%20maples.htm" target="_blank">http://www.fantasticplants.com/</a><br>
                        <a href="http://japanese-maple.com/" target="_blank">http://japanese-maple.com/</a><br>
                        <a href="http://www.worldplants.com/mapleintro.htm" target="_blank">http://www.worldplants.com/mapleintro.htm</a><br>
                        <a href="http://www.ubcbotanicalgarden.org/maplesociety/" target="_blank">http://www.ubcbotanicalgarden.org/maplesociety/</a><br>
                        <a href="http://www.wayofmaple.com/index.html" target="_blank">http://www.wayofmaple.com/index.html</a><br>
                        <a href="http://www.maplesociety.org/en-gb/maple-gallery" target="_blank">http://www.maplesociety.org/en-gb/maple-gallery</a>
                    </p>
                </blockquote>
        </div>
    <!--</div>-->
{% endblock %}
