<!--{% load static %}-->
<!doctype html>
<html>
    <head>
        <title>Acers list</title>
        <meta charset="utf-8">
    </head>

    <body>
        <h1>Lista klonów</h1>
        <form enctype="multipart/form-data">
        <table>
        {% for acer in object_list %}
            <tr>
                <td><a href="{% url 'acer-update' pk=acer.uid %}">{{ acer.botanic_name }}</a></td>
                <td>{{ acer.latin_name }}</td>
                <td>{{ acer.image_tree }}</td>
                <td>{% if acer.new_image_tree %}<a href="{{ acer.new_image_tree.url }}">pokrój</a> {% else %} --- {% endif %}</td>
                <td>{% if acer.new_image_bark %}<a href="{{ acer.new_image_bark.url }}">kora</a> {% else %} --- {% endif %}</td>
                <td>{% if acer.new_image_leaf %}<a href="{{ acer.new_image_leaf.url }}">liść</a> {% else %} --- {% endif %}</td>
            </tr>
        {% endfor %}
        </table>
        </form>
        <!--<a href="/add_product">Dodaj produkt</a>-->
    </body>
</html>