{% extends 'klony/base.html' %}
<!--{% load static %}-->

{% block title %}
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                <div class="row">
                <table class="col-md-4">
                    <thead>
                        <tr>
                            <th colspan="2"><h4 style="text-align: center">Europa</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for acer in acersEu %}
                            <tr style="height:150px">
                                <td class="col-md-7">
                                    <a href="{% url 'acer-details' pk=acer.uid %}">{{ acer.botanic_name }}</a><br>
                                    {{ acer.other_names }}<br>
                                    {{ acer.latin_name }}<br>
                                    {{ acer.description }}
                                </td>
                                <td class="col-md-5">
                                    {% if acer.image_tree %}<a href="{% url 'acer-details' pk=acer.uid %}">
                                    <img src="{{ acer.image_tree.url }}" class="img-thumbnail" alt="{{ acer.image_tree.value }}" width="100%"></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="col-md-4">
                    <thead>
                        <tr>
                            <th colspan="2"><h4 style="text-align: center">Azja</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for acer in acersAs %}
                            <tr style="height:150px">
                                <td class="col-md-7">
                                    <a href="{% url 'acer-details' pk=acer.uid %}">{{ acer.botanic_name }}</a><br>
                                    {{ acer.other_names }}<br>
                                    {{ acer.latin_name }}<br>
                                    {{ acer.description }}
                                </td>
                                <td class="col-md-5">
                                    {% if acer.image_tree %}<a href="{% url 'acer-details' pk=acer.uid %}">
                                    <img src="{{ acer.image_tree.url }}" class="img-thumbnail" alt="{{ acer.image_tree.value }}" width="100%"></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="col-md-4">
                    <thead>
                        <tr>
                            <th colspan="2"><h4 style="text-align: center">Ameryka Płn</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for acer in acersNa %}
                            <tr style="height:150px">
                                <td class="col-md-7">
                                    <a href="{% url 'acer-details' pk=acer.uid %}">{{ acer.botanic_name }}</a><br>
                                    {{ acer.other_names }}<br>
                                    {{ acer.latin_name }}<br>
                                    {{ acer.description }}
                                </td>
                                <td class="col-md-5">
                                    {% if acer.image_tree %}<a href="{% url 'acer-details' pk=acer.uid %}">
                                    <img src="{{ acer.image_tree.url }}" class="img-thumbnail" alt="{{ acer.image_tree.value }}" width="100%"></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </form>
{% endblock %}