{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    {% if request.method == 'GET' %}
        {% csrf_token %}
        <form action="{% url 'acer-search' %}" method="post">
            <p>Wybierz klon</p>

            <select size="1" name="b_uid" id="b_uid">
                <option value="">Nazwa botaniczna</option>
                {% for acer in acers_bot %}
                    <option value="{{acer.uid}}">{{ acer.botanic_name }}</option>
                {% endfor %}
            </select>
            {% csrf_token %}
            <select size="1" name="l_uid" id="l_uid">
                <option value="">Nazwa łacińska</option>
                {% for acer in acers_lat %}
                    <option value="{{acer.uid}}">{{ acer.latin_name }}</option>
                {% endfor %}
            </select>
            <br><br>

            <p>lub wypełnij formularz i wyszukaj </p>
            <select size="1" name="shape">
                <option value="">Pokrój</option>
                {% for i,j in ashapes %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select> <br>
            <select size="1" name="frost">
                <option value="">Mrozoodporność</option>
                {% for i,j in frost %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select> <br>
            <select size="1" name="lc_summer">
                <option value="">Kolor liści latem</option>
                {% for i,j in lc_summer %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select> <br>
            <select size="1" name="lc_autumn">
                <option value="">Kolor liści jesienią</option>
                {% for i,j in lc_autumn %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select> <br><br>
            {% if form %}
            <form action="{% url 'acer-search' %}" method="post">

                {% csrf_token %}
                {{ form.as_p }}

            </form>
            {% endif %}
            <input type="submit" value="Search">
        </form>
    {% endif %}
{% endblock %}
