<!doctype html>
<html>
    <head>
        <title>Acers list</title>
        <meta charset="utf-8">
    </head>

    <body>
        <h1>Lista klonów</h1>
        <table>
        {% for acer in object_list %}
            <tr>
                <td>{{ acer.botanic_name }}</td>
                <td>{{ acer.latin_name }}</td>
                <td>{{ acer.image_tree }} zł</td>
                <td>{{ acer.new_image_tree }}</td>
                <td>{{ acer.new_image_bark }}</td>
                <td>{{ acer.new_image_leaf }}</td>
            </tr>
        {% endfor %}
        </table>
        <!--<a href="/add_product">Dodaj produkt</a>-->
    </body>
</html>